
{% extends 'whole/main.html' %}

{% load static %}
{% block content %}


<style>
@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');
body {
  background-color: #dfe6e9;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
}
.title{
  width=100%;
  text-align: center;
}
.title h1{
  font-size:50px;
  font-family: 'Exo', sans-serif;
}
.card1 {
  text-align:center;
  position: relative;
  left: 100px;
  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(rgb(225,150,58),rgb(227,144,91));
  transition:.6s;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card1:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card1 img{
  transform: translateY(15px);
  width:200px;
  height:120px;
}
h3{
  font-size:25px;
  font-family: 'Abel', sans-serif;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(255,255,255);
  transform: translatey(10px);
}

p{

  font-family: 'Abel', sans-serif;
  color: white;
  text-align:center;
  width:220px;
  transform: translatex(12px);
}


.card2 {
  text-align:center;
  position: relative;

  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(rgb(93,94,170),rgb(93,66,103));
  animation: animate 1s linear infinite;
  transition:.6s;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card2:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card2 img{
  transform: translateY(15px);
  width:180px;
  height:150px;
}
.card3 {
  text-align:center;
  position: relative;

  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#ff5252, #b33939);
  transition:.6s;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card3:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card3 img{
  transform: translateY(15px);
  width:200px;
  height:120px;
}
.card4 {
  text-align:center;
  position: relative;
  left: 100px;
  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(rgb(225,150,58),rgb(227,144,91));
  transition:.6s;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card4:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card4 img{
  transform: translateY(15px);
  width:200px;
  height:120px;
}
h3{
  font-size:25px;
  font-family: 'Abel', sans-serif;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(255,255,255);
  transform: translatey(10px);
}

p{

  font-family: 'Abel', sans-serif;
  color: white;
  text-align:center;
  width:220px;
  transform: translatex(12px);
}


.card5 {
  text-align:center;
  position: relative;

  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(rgb(93,94,170),rgb(93,66,103));
  animation: animate 1s linear infinite;
  transition:.6s;

  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card5:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card5 img{
  transform: translateY(15px);
  width:180px;
  height:150px;
}

.pages{

}

.teamscard{
position:relative;
padding:80px 0px;
}
.teamscard .row{
justify-content:normal;
}
</style>


      <div class="title">
        <h1><span style="color: #ff9f43">Te</span><span style="color: #0abde3">am</span> <span style="color: #ee5253">M</span><span style="color: #00d2d3">emb<span><span style="color: #5f27cd">ers<span></h1>
      </div>
<div class="teamscard">
<div class="container">
    <div class="row">
<div class="col-md-4">
      <div class="card1">
        <img src="{% static 'images/pema.jpeg' %}" alt="Pema" style="width:100%">
        <h3>Pema</h3>
        <p>.</p>
      </div>
</div>
<div class="col-md-4">
      <div class="card2">
        <img src="{% static 'images/bipson.jpeg' %}" alt="bipson" style="width:100%">
        <h3>Bipson</h3>
        <p> </p>
      </div>
</div>
        <div class="col-md-4">
      <div class="card3">
         <img src="{% static 'images/saurabh.jpg' %}" alt="saurabh" style="width:100%">
        <h3>Saurabh</h3>
        <p>.</p>
      </div>
        </div>


    <div class="col-md-4">
 <div class="card4">
        <img src="{% static 'images/bipson.jpeg' %}" alt="bipson" style="width:100%">
        <h3>Bipson</h3>
        <p> </p>
      </div>
    </div>
    <div class="col-md-4">

      <div class="card5">
         <img src="{% static 'images/saurabh.jpg' %}" alt="saurabh" style="width:100%">
        <h3>Saurabh</h3>
        <p>.</p>
      </div>
    </div>
</div>
    </div>
</div>




{% endblock content %}